# VectorLab Requirements

# computation #
###############
numpy
scipy
pandas
networkx

# statistic #
#############
statsmodels

# machine learning #
####################
scikit-learn

# plot module #
###############
matplotlib
seaborn

# vision module #
#################
pillow

# PyTorch #
###########
torch

# PyTorch releated #
####################
wandb
torchinfo
tensorboard

# PyTorch Geometric #
#####################
torch-sparse
torch-cluster
torch-scatter
torch-spline-conv
torch-geometric

# utils module #
####################
pytz
dill
halo
pyyaml